@model ma.ViewModel.EditItemViewModel
@{
    ViewData["Title"] = "EditItem";


}

<h2>EditItem</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                <input asp-for="Id" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>


            @if (Model != null && !String.IsNullOrEmpty(Model.FileName))
            {
                <div class="form-group">
                    <img src="@Url.Content("~/Attachments/"+Model.FileName)" alt="item image" />
                </div>
            }



            <div class="form-group">
                <label asp-for="AttachmentFile" class="control-label"></label>
                <input asp-for="AttachmentFile" class="form-control" />
                <span asp-validation-for="AttachmentFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
                <input id="delete-btn" type="button" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#delete-btn").click(function () {
                $.ajax({
                    url: '@Url.Action("DeleteOneItem", "Item")',
                    type: "POST",
                    data: { id: '@Model.Id' },
                    success: function (result) {
                        alert(result);

                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

        });
    </script>
    }