
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<table id="itemsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Item Location</th>
            <th>Expiry Date</th>
            <th>Other Text</th>
        </tr>
    </thead>

</table>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $('#itemsTable').DataTable({
            "dom": 'Bfrtip',
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '@Url.Action("ItemsTableProcessing", "Item")',
                "type": "POST"
            },
            "columns": [
                { data: 'id' },
                { data: 'itemName' },
                { data: 'itemLocation' },
                { data: 'expiryDate' },
                { data: 'otherText' }

            ],
            "buttons":['excel']
        });
    });
</script>
}

