
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<!-- Button trigger modal -->

<a href="Item/AddItem">Add Item</a>
<!-- Modal -->
<div class="modal fade" id="viewInfoModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ModalLabel">Item Name</h4>

            </div>
            <div class="modal-body">
                <p id="pForItemName">Item Name</p>
                <p id="pForItemLocation">Item Location</p>
                <p id="pForExpiryDate">Expiry Date</p>
                <p id="pForOtherText">Other Text</p>
                <p id="pForQty">Qty</p>
                <div id="div-for-image"></div>
                <a id="edit-btn" href="#" class="btn btn-default btn-md" role="button">Edit</a>
            </div>
           
        </div>
    </div>
  
</div>

<table id="itemsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Item Location</th>
            <th>Expiry Date</th>
            <th>Other Text</th>
        </tr>
    </thead>

</table>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        /**
         *Initialaise datatables
         */
        $('#itemsTable').DataTable({
            "dom": 'Bfrtip',
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '@Url.Action("ItemsTableProcessing", "Item")',
                "type": "POST"
            },
            "columns": [
                { data: 'id', visible: false },
                { data: 'itemName' },
                { data: 'itemLocation' },
                { data: 'expiryDate' },
                { data: 'otherText' }

            ],
            "buttons":['excel']
        });

        /**
         * visually let user know he or she has selected a column
         * */
        var table = $('#itemsTable').DataTable();
        $('#itemsTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                var rowData = (table.row(this).data());

                $.ajax({
                    url:'@Url.Action("GetDataForOneItem", "Item")',
                    type: "GET",
                    data: { id: rowData.id },
                    success: function (result) {
                        removeImage();
                        appendImage(@Url.Content("~/Attachments/")+result.fileName);
                        $("#edit-btn").attr("href", '/Item/EditItem?id=' + result.id);
                        $("#ModalLabel").text(result.itemName);
                        $("#pForItemName").text("Item Name: "+result.itemName);
                        $("#pForItemLocation").text("Item Location: "+result.itemLocation);
                        $("#pForExpiryDate").text("Expiry Date: "+result.expiryDate);
                        $("#pForOtherText").text("Other Text: "+result.otherText);
                        $("#pForQty").text("Qty: "+result.qty);

                    },
                    error: function (xhr, status, error) {
                        
                    }
                });

                $('#viewInfoModal').modal('show');
            }
            
        });

        //when user has closed the modal, let the row in datatables no longer be selected. 
        $('#viewInfoModal').on('hidden.bs.modal', function () {
            table.$('tr.selected').removeClass('selected');
        });

       

        }); //close document.ready


        /**
        * Add image to the div inside the modal
        * param imgSrc content root path where the image is stored
        */
        function appendImage(imgSrc) {
            var imgElement = document.createElement("img");
            imgElement.setAttribute('src', imgSrc);
            //imgElement.setAttribute('class', "img-fill-parent");

            if (imgSrc.includes(null)) {
                imgElement.setAttribute('alt', '');
            }
            imgElement.setAttribute('id', "img-id");

            var imgdiv = document.getElementById("div-for-image");
            imgdiv.appendChild(imgElement);


            /*
            if (!imgSrc.includes(null)) {
                var btnElement = document.createElement("input");
                btnElement.setAttribute("id", "delete-img-btn");
                btnElement.setAttribute("onclick", "delImgFunction()");
                btnElement.type = "button";
                btnElement.value = "Delete";

                imgdiv.appendChild(btnElement);
            }
            */

        }
        /**
         * Remove the image from DOM */
        function removeImage() {
            var imgElement = document.getElementById("img-id");

            if (imgElement != null) {
                imgElement.parentNode.removeChild(imgElement);
            }
        }








    </script>
}

